body{
    font-family: consolas;
    font-size: 44px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #333438;
    color: #646669;
    z-index: 1;
}

.contentWrapper{
    line-height:70px;
    height: 50%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.textArea {
    margin: 20%;
    padding: 10px
}

.textArea>input{
    /* position: absolute; */
}

.hiddenInput{
    /* z-index: -10; */
    /* opacity: 0; */
}
.letter {
    margin: 0;
    padding: 0;
}

.letter.correct {
    color: #d0d0c4;
}

.letter.wrong {
    color: rgb(249, 69, 69);
}

.popup {
    background-color: rgb(64 64 64 / 9%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.focus{
    position: absolute;
    background-color: rgb(51 52 56 / 82%);
}
.blur{
    color: #e2b714;
    font-size: 40px;
    
}

.popupContent {
    background-color: #2c2e31;
    color: black;
    position: relative;
    height: 448px;
    width: 594px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 #7a7a7a;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.results {
    margin: 0 30px;
    padding: 0;
    color: #e2b714;
}

.results>p {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.popupContent>h4{
    color: #d0d0c4;
    margin-bottom: 0;
    padding-bottom: 0;
}
.stats {
    display: flex;
}

.resultTitle {
    font-size: 35px;
    color: #646669;
}

.restartBtn {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

#restartBtn {
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    padding: 15px 23px;
    background-color: #333438;
    color: white;
    border: none;
}

.activeLetter {
    text-decoration: none;
}

#randomText{
    cursor: pointer;
}

.i-cursor {
    display: inline-block;
    width: 5px;
    height: 25;
    background-color: #e9bb17;
    animation: blink 1s infinite;
    font-size: 44px;
    font-family: consolas;
    border-radius: 5px;
    padding: 0;
    position: absolute;
    transition-delay: 1s;
}

@keyframes blink {
    0% {background-color: #e9bb17;}
    50% {background-color: transparent;}
    100% {background-color: #e9bb17;}
}

.i-cursor.stop {
    animation: none;
}

.activeWord {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}